/*  */


.headingTag{
    background-color: black;
    display: inline-block;
}
.oldParent{
    display: flex;
    justify-content: center;
}
.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;


}

